<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <style></style>
</head>
<body>
    <h1>Welcome to Gitpub! Select from our menu below!</h1>
    <h3>Drinks</h3>
    <% for(let i = 0; i<allDrinks.length; i++){ %>
        <li>
            <a href="/gitpub/drinks/<%=i%>"><%=allDrinks[i].name%></a>
        </li>
   <% } %>
   <h3>Food</h3>
   <% for(let i = 0; i<allFood.length; i++){ %>
    <li>
        <a href="/gitpub/food/<%=i%>"><%=allFood[i].name %></a>
    </li>
<% } %>
</body>
</html>